html {
    height: 100%;
    background: --vscode-panel-background;
    background: --vscode-terminal-background;
}

body {
    box-sizing: border-box;
    height: 100%;
    padding: 8px 16px;
    background: transparent;
}

#terminal {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#terminal .xterm-viewport {
    margin-right: -20px;
}